.colour {
  height: 32px;
  width: 32px;
  border: 1px solid #dedede;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(135deg);
  padding: 2px;
  cursor: pointer;
  margin-top: 8px;

  &.selected {
    border-color: #1B1B1B;
  }

  .colour1 {
    height: 100%;
    overflow: hidden;
    border-radius: 50%;

    .colour2 {
      height: 50%;
    }
  }

}

