.productImage {
  position: relative;
  cursor: pointer;

  .magnify {
    position: absolute;
    margin: 20px;
    right: 0;
    padding: 10px;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
  }

  &:hover {
    .magnify {
      display: flex;
    }
  }

  .image {
    width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}


