.sizesContainer {
  margin-top: 40px;

  .sizeText {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
  }

  .sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
